<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Add Doctor</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Doctors</a>
                        </li>
                        <li class="breadcrumb-item active">Add</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Doctor</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="first" required>
                                        <mat-error *ngIf="docForm.get('first').hasError('required')">
                                            Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Cedula</mat-label>
                                        <input matInput formControlName="cedula" required>
                                        <mat-error *ngIf="docForm.get('cedula').hasError('required')">
                                            Cedula is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Especialidad</mat-label>
                                        <input matInput formControlName="specialty" type="specialty" required>
                                        <mat-error *ngIf="docForm.get('specialty').hasError('required')">
                                            Especialidad is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-error
                                            *ngIf="docForm.get('email').hasError('email') && docForm.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!docForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>